body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 4px solid black;

}

#gameCanvas {
 /* Establece el ancho en 600 píxeles */
    /* Agrega un borde de 2 píxeles de ancho de color negro */
    /* Otros estilos */
}
