body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Press Start 2P";
    background-color: rgb(54, 69, 69);/* Ajustar la imagen de fondo para cubrir toda la pantalla */
}

canvas {
    display: block;
    border: 4px solid black;
    background-image: url("./back.png");
    background-size: cover; /* Ajustar la imagen de fondo para cubrir todo el lienzo */
    /* Otros estilos según sea necesario */
}

#gameCanvas {
    display: block;
    margin: auto;
    /* Aquí no necesitas establecer el background-image ya que lo definiste para el canvas en general */
    /* Color de fondo opcional para el lienzo */
    /* Estilos adicionales según sea necesario */
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 600px) {
    #gameCanvas {
        width: 100%;
        height: auto;
    }
}
